
.bg-glass {
  background: linear-gradient(135deg, #2303b5, #4b20ff);
  color: white;
  backdrop-filter: blur(8px);
  position: relative;
}

.text-gradient {
  background: linear-gradient(90deg, #C6F806, #33CCFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg-orange {
  background-color: #CC6344 !important;
}


.btn-neon-green {
  background-color: #C6F806;
  color: #0000FF;
  font-weight: bold;
  border-radius: 9999px; /* pill */
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  display: inline-block;
}
.btn-neon-green:hover {
  background-color: #b2e500;
  color: #0000cc;
}

.shadow-black {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.footer-red {
  background-color: #cc0000;
  border: 2px solid white;
  border-radius: 1rem;
  max-width: 100%;
}


.wayang-wrapper {
  position: relative;
}

.pattern-decor {
  position: absolute;
  bottom: -20px;
  right: -100px;
  width: 390px; /* atur sesuai kebutuhan */

  z-index: 1;
}




/* Tambahan efek shadow tebal untuk phase badge */
.shadow {
  box-shadow: 4px 4px 0px #000;
}

/* Tambahan untuk layout mobile */
@media screen and (max-width: 768px) {
  #plan .row {
    text-align: center;
  }

  #plan .col-md-5 {
    margin-bottom: 2rem;
  }
}


/* card phase*/
.phase-card {
  max-width: 420px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

/* Judul badge */
.phase-badge {
  background-color: #C6F806;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

/* Shadow tebal bawah kanan */
.shadow-custom {
  box-shadow: 5px 5px 0px #000;
}

/* Box Deskripsi */
.phase-content {
  background-color: #2057FF; /* warna biru latar */
  border: 2px dashed #fff;
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

/* Bintang Dekorasi */
.star-decoration {
  position: absolute;
  width: 40px;
  z-index: 1;
}

.star-1 {
  width: 55px;
  right: -10px;
  bottom: -10px;
}

.star-2 {
  width: 55px;
  bottom: -10px;
  right : -10px;
}

.circle-icon {
  margin-bottom: 20px;
  height: 70px;
}
